<div class="jumbotron" style="background-color: #fff352; margin-bottom: 40px;">
  <div class="container">
    <h3 class="text-white" style="display: flex; align-items: center; height: 120px;">ログイン</h3>
  </div>
</div>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-5">
        <%= form_with model: @admin, url: session_path(resource_name), local: true do |f| %>
          <div class="mb-3">
            <%= f.label :メールアドレス, class: "label" %>
            <div class="input-group">
              <span class="input-group-text br_none"><i class="fas fa-envelope"></i></span>
              <%= f.text_field :email, autofocus: true, autocomplete: "email", placeholder: "email", class: "form-control bl_none" %>
            </div>
          </div>

          <div class="mb-3">
            <%= f.label :パスワード, class: "label" %>
            <div class="input-group">
              <span class="input-group-text br_none"><i class="fas fa-lock"></i></span>
              <%= f.password_field :password, autocomplete: "current-password", placeholder: "password", class: "form-control bl_none" %>
            </div>
          </div>

          <div class="mb-3 mt-4">
            <%= f.submit "Log in", class: "btn btn-outline-secondary w-100" %>
          </div>
        <% end %>

    </div>
  </div>
</div>

