<div class="jumbotron" style="background-color: orange; margin-bottom: 40px;">
  <div class="container">
    <h3 class="text-white" style="display: flex; align-items: center; height: 120px;">投稿一覧</h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= form_tag posts_path, method: :get, class: "form-inline" do %>
      <div class="d-flex" style="justify-content: flex-end; margin-bottom: 20px;">
        <%= text_field_tag :message, params[:message], class: "form-control mr-2", style: "width: 150px;" %>
        <%= select_tag :method, options_for_select({"完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial"}, params[:method]), class: "form-control mr-2", style: "width: 100px;" %>
        <%= submit_tag "検索", class: "btn btn-sm btn-info" %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @posts.each do |post| %>

        <div class="card" style="width: 600px;  margin-bottom: 30px;">
          <div class="card-body">
            <div class="media" style="margin-bottom: 20px;">
              <%= link_to user_path(post.user) do %>
                <% if post.user.present? && post.user.profile_image.attached? %>
                  <%= image_tag url_for(post.user.profile_image.variant(resize_to_fit: [70, 70])), fallback: "no_image.jpg", class: "is-rounded", style: "margin-right: 20px;", width: 70, height: 70 %>
                <% else %>
                  <%= image_tag "no_image.jpg", class: "is-rounded", style: "margin-right: 20px;", width: 70, height: 70 %>
                <% end %>
              <% end %>

              <%= link_to post.user.name, user_path(post.user) %>
            </div>

            <figure class="figure">
            <% if post.photo.present? %>
              <%= link_to post_path(post) do %>
                <%= image_tag post.photo, alt: "投稿写真", class: "figure-img img-fluid" %>
              <% end %>
            <% end %>
            </figure>

            <div class="card-content">
              <table class="table table-bordered">
                <thead class="thead-dark">
                  <tr>
                    <th>好きなジャンル</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <%= @genre %>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="content">
                <table class="table table-bordered">
                  <thead class="thead-dark">
                    <tr>
                      <th>メッセージ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= simple_format post.message %></td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="content">
                <table class="table table-bordered">
                   <thead class="thead-dark">
                    <tr>
                      <th>いいね</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div id="like-icon-post-<%= post.id.to_s %>">
                          <%# if current_user && post.liked_by(current_user).present? %>
                            <%#= link_to "いいねを取り消す", post_like_path(post.id, post.liked_by(current_user)), method: :DELETE, remote: true, class: "loved hide-text" %>
                          <%# else %>
                            <%#= link_to "いいね", post_likes_path(post), method: :POST, remote: true, class: "love" do %>
                             <%= link_to post_likes_path(post), class: "", method: :get do %>
                               <i class="fa-regular fa-heart"></i>
                             <% end %>
                            <%# end %>
                          <%# end %>
                        </div>
                      </td>
                    </tr>
                  </tbody>

                </table>
              </div>

              <div class="content">
                <div id="like-text-post-<%= post.id.to_s %>">
                  <%= render "like_text", { likes: post.likes } %>
                </div>
              </div>

              <div class="content">
                <small class="text-muted"><%= post.updated_at.strftime("%Y-%m-%d %H:%M") %></small>更新
              </div>

            </div>
          </div>
        </div>

      <div class="spacer"></div>
    <% end %>
  </div>
</div>
</div>