<div class="jumbotron" style="background-color: #3eb370; margin-bottom: 40px;">
  <div class="container">
    <h3 class="text-white" style="display: flex; align-items: center; height: 120px;">投稿詳細</h3>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
                <% if @post.photo.present? %>
                  <%= image_tag url_for(@post.photo), alt: "投稿写真" %>
                <% end %>
            </figure>
          </div>
          <div class="card-body">
            <div class="media">
              <div class="media-body">
                <p class="genre h4">
                  <table class="table">
                    <tr>
                      <th>好きなジャンル</th>
                    </tr>
                    <tr>
                      <td>
                       <%= Post.genres.invert[@post.genre.to_s]%>
                      </td>
                    </tr>
                  </table>
                </p>
              </div>
            </div>
            <div class="content">
              <table class="table">
                <tr>
                  <th>メッセージ</th>
                </tr>
                <tr>
                  <td><%= simple_format @post.message %></td>
                </tr>
              </table>
              <% if @post.user.id == current_user.id %>
                <%= link_to "編集画面へ", edit_post_path(@post), class: "btn btn-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <article class="panel bg-link">
          <p class="panel-heading">
            By <%= @post.user.name %>
          </p>
          <div class="panel-body">
            <p class="control">
              <%= @post.user.introduction %>
            </p>
          </div>
          <%= link_to user_path(@post.user), class: "panel-body" do %>
            <span class="panel-icon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
            <%= @post.user.name %> さんのページへ
          <% end %>
        </article>
      </div>
    </div>
  </div>
</section>

<div>
  <p>コメント件数：<%= @post.post_comments.count %></p>
  <% @post.post_comments.each do |post_comment| %>
    <%= post_comment.user %>
    <% if post_comment.created_at.present? %>
      <%= post_comment.created_at.strftime('%Y/%m/%d') %>
    <% end %>
    <%= post_comment.comment %>
  <% end %>
</div>
<div>
  <%= form_with model: [@post, @post_comment], url: post_comments_url(@post) do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する", class: "btn btn-primary" %>
  <% end %>
</div>