<div class="jumbotron" style="background-color: #7B68EE; margin-bottom: 40px;">
  <div class="container">
    <h3 class="text-white" style="display: flex; align-items: center; height: 120px;">ユーザー編集</h3>
  </div>
</div>

<% if @user.errors.any? %>
  <div class="alert alert-danger">
    <h2><%= pluralize(@user.errors.count, "エラー") %>が発生し、オブジェクトの保存に失敗しました:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <%= form_with model: @user, class: "form" do |f| %>
          <div class="form-group">
            <%= f.label :name, "名前" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :age, "年齢" %>
            <%= f.text_field :age, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :sex, "性別" %>
          <br>
            <%= f.select :sex, [['男性', 'male'], ['女性', 'female'], ['その他', 'other'], ['選択しない', 'not_selected']], {class: "form-control", prompt: "性別を選択してください"} %>
          </div>

          <div class="form-group">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :introduction, "自己紹介" %>
            <%= f.text_area :introduction, class: "form-control" %>
          </div>

          <div class="form-group">
            <% if @user.profile_image.attached? %>
              <%= f.label :profile_image, "現在のプロフィール画像" %>
              <br>
              <%= image_tag url_for(@user.profile_image.variant(resize_to_limit: [300, 300]).processed), class: "img-thumbnail", fallback: "images.png" %>
            <% end %>

          <br>
            <%= f.label :profile_image, "プロフィール画像の変更", class: "label-spacing" %>
            <%= f.file_field :profile_image, class: "form-control-file" %>
          <br>
            <%= f.label :profile_image, "画像を削除しますか？", class: "mt-4 label-spacing" %>
            <% if @user.profile_image.attached? %>
              <%= f.submit "削除する", onclick: "return dataConfirm()" %>
            <% else %>
              <%= image_tag "default-image.jpg", class: "is-rounded", width: 70, height: 70 %>
            <% end %>
          </div>

          <%= f.submit "更新", class: "btn btn-secondary" %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<script>
  const dataConfirm = () => {
    window.confirm("本当に削除しますか？")
  }
</script>